In [29]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int

    @property
    def sum(self):
        return self.chinese + self.english + self.math

In [30]:
stu1:Student = Student(name="robert",chinese=98,english=75,math=69)
stu2:Student = Student(name="jenny",chinese=87,english=92,math=75)

In [33]:
stu1.chinese = 100
#stul.sun = 300 一般的property只可以讀,不可以寫入(readonly)
print((stu1.name,stu1.chinese,stu1.english,stu1.math))
print(stu1.sum)

('robert', 100, 75, 69)
244

In [34]:
print((stu2.name,stu2.chinese,stu2.english,stu2.math))
print(stu2.sum)

('jenny', 87, 92, 75)
254